#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.bar {
  height: 5px;
  width: inherit;
  background-color: rgb(194, 190, 190);
  border-radius: 5%;
}

