.todo-container {
    /* border: 1px solid blue; */
    width: 50vw;
    height: inherit;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

#my-task-container {
    border: 1px solid rgb(198, 193, 193);
    height: max-content;
    padding: 10px 20px;
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
    border-radius: 15px;
}

